<!DOCTYPE html>
<html>
  <head>
    <title>Krueger</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Krueger</h1>
    <p>Welcome to Krueger</p>
    <form method="get">
        <button class="scrape-button-2" type="submit" formaction="/products">Get Product Links!</button>
    </form>
    <form method="post">
        <button class="scrape-button" type="submit" formaction="/scrape">Scrape!</button>
    </form>
    <img class="logo-portada" src="/images/favicon.ico">

  </body>
</html>
