body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
    padding: 2px;
}

.logo-portada {
    padding-left: 50%;
    height: 30%;
    width: 30%;
}
